body {
    margin: 0;
    background: #0f172a;
    overflow: hidden;
}

.mainCard {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.image {
    height: 700p;
    width: 450px;
    object-fit: fill;
    border-radius: 28px;
    box-shadow: 0 10px 25px rgb(255, 255, 255);
}

.loginForm {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25%;
}

.loginForm h1 {
    text-align: center;
    margin-bottom: 10px;
}

.heading {
    font-weight: 600;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitbutton {
    padding: 10px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submitbutton:hover {
    background: rgb(52, 52, 195);
}

.link {
    text-align: center;
}

.link a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}