body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #e5c5d893;
    color: rgb(17, 16, 16);
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 350px;
    background: rgb(205, 141, 46);
    padding: 30px;
    border-radius: 12px;
}

h1{
    margin-bottom: 25px;
    font-size: 28px;
}

label{
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 18px;
    font-size: 14px;
}

.submitbutton{
    width: 100%;
    padding: 10px;
    background: #ffcc00;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.submitbutton:hover{
    background: #ffd633;
}

a{
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #ffff8a;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}

.heading-login{
    text-align: center;
    color: #ffff9e;
}